@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">

            <a href="/" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" >
                <img src="~/Images/TMSLogo_1.png" width="50" height="32" class="img-fluid me-2" />
            </a>

            <div class="d-flex align-items-center">
                <div class="w-100 me-3">  </div>
                @if (ViewBag.userDetails != null)
                { 
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/Images/ProfilePictures/@ViewBag.userDetails.ProfilePicture" alt="mdo" width="42" height="42" class="rounded-circle">

                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" asp-action="AddTask" asp-controller="Task">New Task...</a></li>
                            <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="User">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-route-isFromLogout="Yes">Sign out</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TaskManagementSystem - <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
