@model List<TaskManagementSystem.Models.ShowTaskViewModel>
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="container">
    <div class="row my-3 p-3 text-white bg-purple rounded shadow-lg">
        <div class="col-3">
            <a class="btn btn-light" asp-action="AddTask" asp-controller="Task">
                Add New <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
            </a>
            <a class="btn btn-outline-light" asp-action="UserDashboard" asp-controller="Task">
                Refresh <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                    <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.8 6.8 0 0 0 1.16 8z" />
                    <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324z" />
                </svg>
            </a>
        </div>
        <div class="col-9 d-flex">
            <form asp-action="UserDashboard" asp-controller="Task" method="get">
                <div class="input-group ">
                    <input type="text" name="search" class="form-control" placeholder="Search by task name" required>
                    <button class="btn btn-outline-light" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
            <form asp-action="UserDashboard" asp-controller="Task" method="get">
                <div class="input-group ms-3">
                    @* <input type="text" class="form-control" placeholder="Search by task name"> *@
                    <input type="date" required name="dueDate" class="btn btn-light " placeholder="select date" title="Search by due date" />
                    <button class="btn btn-outline-light" type="submit" id="button-addon2">Show</button>
                </div>
            </form>

            <div class="dropdown">
                <button class="btn text-light dropdown-toggle ms-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Priority
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2" />
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-route-priority="High" asp-action="UserDashboard" asp-controller="Task">
                            High
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-route-priority="Low" asp-action="UserDashboard" asp-controller="Task">
                            Low
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-route-priority="Medium" asp-action="UserDashboard" asp-controller="Task">
                            Medium
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn text-light dropdown-toggle ms-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Status
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                        <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z" />
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-route-status="Completed" asp-action="UserDashboard" asp-controller="Task">
                            Completed
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-route-status="InProcess" asp-action="UserDashboard" asp-controller="Task">
                            In Process
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-route-status="Pending" asp-action="UserDashboard" asp-controller="Task">
                            Pending
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn text-light dropdown-toggle ms-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-route-sortBy="lastAdded" asp-action="UserDashboard" asp-controller="Task">
                            Sort by last added
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-route-sortBy="title" asp-action="UserDashboard" asp-controller="Task">
                            Sort by title
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                                <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="my-3 p-3 bg-white rounded shadow-lg task-list-container">
                <h6 class="border-bottom pb-2 mb-0">All</h6>
                @foreach (var item in Model)
                {
                        <partial name="_TaskPartialView" model="item"></partial>
                }
            </div>
        </div>
        <div class="col-6">
            <div class="my-3 p-3 bg-white rounded shadow-lg">
                <h6 class="border-bottom pb-2 mb-0">Attachments will be shown here</h6>
                <div class="d-flex text-body-secondary pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>File Name</th>
                                <th>File Type</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody id="attachments-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 

    @{
        var showToast = "";
        var toastMessage = "";
        if (TempData["ShowToast"] != null && TempData["toastMessage"]!=null)
        {
            showToast = TempData["ShowToast"].ToString();
            toastMessage = TempData["toastMessage"].ToString();

            <input type="hidden" value="@showToast" id="showToast" />

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" focusable="false">
                            <title>X</title>
                            <rect width="100%" height="100%" fill="#5A34A6" />
                        </svg>
                        <strong class="me-auto">Task Management System</strong>
                        <small>Just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        @toastMessage
                    </div>
                </div>
            </div>

        }
        
    }

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="entityLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="entityLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="entityName"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-danger" id="entityId">Delete</a>
                </div>
            </div>
        </div>
    </div>

</main>

