@model TaskManagementSystem.Models.UserForgotViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row shadow-lg  p-3 mb-5 rounded">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/Images/ForgotPassword.jpg" class="img-fluid" />
    </div>
    <div class="col-lg-6">
        <h1>Forgot Password</h1>
        <form class="row g-3" asp-controller="User" asp-action="ForgotPassword">
            <div class="col-12">
                <label asp-for="Email" class="form-label">Email</label>
                <input class="form-control" placeholder="Email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
                @if (@TempData["EmailNotExists"] != null)
                {
                    <span class="text-danger fw-bold">Email does not exists.</span>
                }
            </div>
           
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Continue</button>
                <a class="btn btn-outline-dark" asp-action="Login" asp-controller="User">Back</a>
            </div>
        </form>
    </div>
</div>
