@model TaskManagementSystem.Models.UserResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row shadow-lg  p-3 mb-5 rounded">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/Images/ResetPassword.jpg" class="img-fluid" />
    </div>
    <div class="col-lg-6">
        <h1>Reset Password</h1>
        <form class="row g-3" asp-controller="User" asp-action="ResetPassword">
            <div class="col-12">
                <label asp-for="Password" class="form-label">Password</label>
                <input class="form-control" placeholder="Password" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Reset</button>
                <a class="btn btn-outline-dark" asp-action="ForgotPassword" asp-controller="User">Back</a>
            </div>
        </form>
    </div>
</div>

