html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*UserDashboard.cshtml*/
.bg-purple {
    background-color: #6f42c1;
}

.task-list-container {
    max-height: 500px; /* Adjust based on your layout */
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

/*AddTask.cshtml*/
#filePreview {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
@media (min-width: 0px) {
    .mt-xs-2 {
        margin-top: .5rem !important;
    }
}
